main {
    max-width: 70rem;
    margin: 0 auto;
}

main h1 {
    font-size: 2.5rem;
    padding: 1rem;
    width: fit-content;
}

.title-html {
    background-color: #e54b4b;
}

.title-css {
    background-color: #95C41C;
}

.title-js {
    background-color: #9381ff;
}

.title-more {
    background-color: #00B899;
}

.title-h-a {
    background-color: #0496FF;
}

.info-sect h2 {
    font-size: 2rem;
    padding: .5rem 1rem;
}

.info-sect h3 {
    font-size: 1.75rem;
    padding: .5rem 1rem;
}

.info-sect h4 {
    padding: .5rem 1rem;
    font-size: 1.25rem;
}

.info-sect p {
    font-size: 1.05rem;
    line-height: 1.5;
    padding: 0 1rem;
}

.code-snippet {
    margin: 0 auto;
    padding: 1rem;
}

.code-text {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-word;
    margin: 0 auto;
    padding: 1rem;
    max-width: 45rem;
    line-height: 1.25;
}

figure {
    display: block;
    margin: 1rem auto;
    text-align: center;
    max-width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: .5rem 0;
    padding-left: 1.5rem;
}

ul li {
    list-style-type: square;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

ol {
    margin: .5rem 0;
    padding-left: 1.5rem;
}

ol li {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

/* breadcrumb */
ul.breadcrumb {
    list-style: none;
    margin: 1.5rem 0 1rem .5rem;
    padding: 0;
}
  
ul.breadcrumb li {
    display: inline;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
  
ul.breadcrumb li+li:before {
    padding: .5rem;
    margin: 0;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
  
ul.breadcrumb li a:hover {
    text-decoration: underline;
} 

/* table of contents */
.toc-wrapper {
    width: fit-content;
}

h3.toc-title {
    margin: 1rem 1rem 0 1rem;
    padding: 0;
}

ul.toc {
    width: auto;
    word-wrap: normal;
    margin: 0;
    padding: 1rem;
}

ul.toc li {
    padding: 0 1rem;
    line-height: 1.5;
    list-style-position: inside;
}

/* exam */
.blur-word {
    filter: blur(8px);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.blur-word.unblur-word {
    filter: blur(0);
}

.exam-answer {
    width: 100%;
}

.exam-qa {
    margin: 1rem 0;
    padding: 0;
}

/* more res */
dl {
    padding: 1rem;
}

dt {
    font-size: 1.1rem;
}

dd {
    padding: .5rem 0;
}