#eye-catch {
    margin: auto;
    max-width: 70rem;
    margin: 3rem auto 4rem auto;
}

/* landing page */
#landing-text {
    border: none;
    box-shadow: none;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: -.5rem 0 2rem 0;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

a.card-wrapper {
    display: block;
    padding: 0;
    border: .2rem solid #1c2021;
    width: 23.5%;
    height: 19.5rem;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
/*    border: 1px solid brown; */
    height: 100%;
    background-position: center 38%, 0 0;
    background-size: 75%, 100%;
    background-repeat: no-repeat;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

/* card hover create shadow effect. can inverse so shadow is constant on card, hover removes shadow */
.card:hover {
    box-shadow: 0 0 0 #1c2021;
}

.card:active {
    box-shadow: 0 0 0 #1c2021;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

p.card-text {
    text-align: center;
    color: #1c2021;
    padding: .5em 0 .5em 0;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    border-top: .2rem solid #1c2021;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #f4f5f6;
}

/* blurb section */
#blurb {
    display: flex;
    flex-flow: column nowrap;
    max-width: 60rem;
    margin: 0 auto 3em auto;
    padding: 0;
}

#blurb h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 1.5rem auto;
}

#blurb p {
    text-align: center;
    margin: 0 0 1.5rem 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1.1rem;
}

/* 800px media query for laptop/tablet card grid and smaller screens */
@media screen and (max-width: 800px) {
    #eye-catch {
        max-width: 85vw;
        margin: 1rem auto 1.5rem auto;
        padding: 0;
        height: fit-content;
    }

    #landing-text {
        border: none;
        box-shadow: none;
        font-size: 3rem;
        text-align: center;
        padding: 0;
        margin: 2rem 0;
    }    

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 7%;
        padding-bottom: 3rem;
    }

    a.card-wrapper {
        display: block;
        padding: 0;
        width: 100%;
        height: 15rem;
        text-decoration: none;
        margin: auto;
    }

    p.card-text {
        font-size: 1.25rem;
    }

    #blurb {
        display: flex;
        flex-flow: column nowrap;
        max-width: 85vw; /* match with #eye-catch max-width */
        margin: 0 auto 3em auto;
        padding: 0;
    }
    
}